<!DOCTYPE html>
<html>
<title>Available Choices</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Available buses</h2>
  <p>Choose the bus you want to and choose the seat number</p>

  <table class="w3-table-all">
    <thead>
      <tr class="w3-blue">
        <th>Select</th>
        <th>Info</th>
      </tr>
	</thead>
      {% for z in form.choice %}   
    <tr>
	<td><form  method="POST">{{ z.tag }}</td>  {% csrf_token %}
      <td>{{ z.choice_label }}</td>
      <td></td>
  </tr>
  {% endfor %} 
  </table> <br>
  {% for r in seat %}
  <h4>Seat for passenger {{ forloop.counter }}</h4>
  {{ r }}
  {% endfor %}
  <br><br>
  <h5> {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}</h5>
              {% endif %} 
  <input type="submit" class="w3-button w3-blue" value="Book">
</form>
</div>

</body>
</html> 
