<h3> Select Station</h3>
<form method = "POST"> {% csrf_token %}
{{ form.as_p }}
<button type = submit, value=Show>Show</button>
</form>


<html>
<title>Employee</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Employees of the Selected Station</h2>
{% if data %}
  <table class="w3-table-all">
    <thead>
      <tr class="w3-blue">
        <th>Employee_Id</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Date Of Birth</th>
        <th>Station_code</th>
      </tr>
  </thead>
  {% for r in data %}
    <tr>
      <td>{{ r.0 }}</td>
      <td>{{ r.1 }}</td>
      <td>{{ r.2 }}</td>
      <td>{{ r.3 }}</td>
      <td>{{ r.4 }}</td>
    </tr>
    {% endfor %}
{% endif %}
	<!--<td><form  method="POST">{{ z.tag }}</td>  {% csrf_token %}
      <td>{{ z.choice_label }}</td> 
      <td></td>
	</tr>
  </table> <br>
  <input type="submit" class="w3-button w3-blue" value="Book">
</form>
</div> -->

</body>
</html> 