<html>
<title>My Tickets</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Colored Table Heading</h2>
  <p>Use any of the w3-<em>color</em> classes to display a colored row:</p>

  <table class="w3-table-all">
    <thead>
      <tr class="w3-blue">
        <th>Ticket_Id</th>
        <th>Bus_id</th>
        <th>Date</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Fare</th>
        <th>Arrival Time</th>
        <th>Aboarding Time</th>
        <th>Seat</th>
        <th>Starting Point</th>
        <th>End Point</th>
      </tr>
  </thead>
  {% for r in rows %}
    <tr>
      <td>{{ r.0 }}</td>
      <td>{{ r.1 }}</td>
      <td>{{ r.2 }}</td>
      <td>{{ r.3 }}</td>
      <td>{{ r.4 }}</td>
      <td>{{ r.5 }}</td>
      <td>{{ r.10 }}</td>
      <td>{{ r.11 }}</td>
      <td>{{ r.7 }}</td>
      <td>{{ r.8 }}</td>
      <td>{{ r.9 }}</td>
    </tr>
    {% endfor %}
	<!--<td><form  method="POST">{{ z.tag }}</td>  {% csrf_token %}
      <td>{{ z.choice_label }}</td> 
      <td></td>
	</tr>
  </table> <br>
  <input type="submit" class="w3-button w3-blue" value="Book">
</form>
</div> -->

</body>
</html> 