<html>
<title>Salary</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Salary according to designations</h2>

  <table class="w3-table-all">
    <thead>
      <tr class="w3-blue">
        <th>Designation</th>
        <th>Salary</th>
      </tr>
  </thead>
  {% for r in data %}
    <tr>
      <td>{{ r.0 }}</td>
      <td>{{ r.1 }}</td>
    </tr>
    {% endfor %}
	<!--<td><form  method="POST">{{ z.tag }}</td>  {% csrf_token %}
      <td>{{ z.choice_label }}</td> 
      <td></td>
	</tr>
  </table> <br>
  <input type="submit" class="w3-button w3-blue" value="Book">
</form>
</div> -->

</body>
</html> 